<div class="rp-container">
    <div class="rp">
    <h1 class="rp-header">Log In</h1>
    <form class="irp-form" [formGroup]="loginForm" (ngSubmit)="submitLogInData(loginForm.value)">
        <div class="irp-form-item">
            <label for="username">Username/Email</label>
            <input class="irp-form-input short--" type="text" formControlName="usernameEmail" id="username">
        </div>
        <div class="irp-form-item">
            <label for="password">Password</label>
            <input class="irp-form-input" type="password" formControlName="password" id="password">
        </div>
        <div class="rp-button">
            <button type="submit">Log In</button>
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    </div>
</div>