/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro');

html, body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}