<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="epp">
        <div class="epp-header"> User Details</div>
        <form class="irp-form" [formGroup]="editUserProfileForm" (ngSubmit)="submitUserData(editUserProfileForm.value)">
            <div class="irp-form-item">
                <label for="username">Email</label>
                <input class="irp-form-input short--" type="text" formControlName="email" id="email" placeholder="zaraa@um.edu.my">
                <!-- Get email from BE -->
            </div>
            <div class="irp-form-item">
                <label for="username">Username</label>
                <input class="irp-form-input short--" type="text" formControlName="username" id="username" placeholder="zaraa">
                <!-- Get username from BE -->
            </div>
            <div class="irp-form-item">
                <label for="password">Password</label>
                <input class="irp-form-input" type="password" formControlName="password" id="password" placeholder="password">
            </div>
            <div class="irp-form-item">
                <label for="username">Organisation name</label>
                <input class="irp-form-input short--" type="text" formControlName="orgName" id="orgName" placeholder="University of Malaya" readonly>
            </div>
            <div class="rp-button">
                <button type="submit" class="save-button">Save Edits</button>
            </div>
            <!-- To add First name and last name for user details -->
        </form>

    </div>
</div>



 

