<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="epp">
        <div class="epp-header"> User Details</div>
        <form class="irp-form" [formGroup]="editUserProfileForm" (ngSubmit)="submitUserData(editUserProfileForm.value)">
            <div class="irp-form-item">
                <label for="username">Email</label>
                <input class="irp-form-input short--" type="text" formControlName="email" id="email" placeholder="{{userProfileData.email}}">
                <!-- Get email from BE -->
            </div>
            <div class="irp-form-item">
                <label for="username">Username</label>
                <input class="irp-form-input short--" type="text" formControlName="username" id="username" placeholder="{{userProfileData.username}}">
                <!-- Get username from BE -->
            </div>
            <div class="irp-form-item">
                <label for="username">Organisation name</label>
                <input class="irp-form-input short--" type="text" id="orgName" placeholder="University of Malaya" readonly>
            </div>
            <div class="rp-button">
                <button type="submit" class="save-button">Save Edits</button>
            </div>
            <!-- To add First name and last name for user details -->
        </form>
        <form class="irp-form"  [formGroup]="changePwForm" (ngSubmit)="submitPassword(changePwForm.value)">
            <div class="irp-form-item">
                <label>Reset Password</label>
                <span>Type your new password</span>
               <input class="irp-form-input password--" type="password" formControlName="password" id="password">
               <span>Retype your new password</span>
               <input class="irp-form-input password--" type="password" formControlName="retypePassword" id="password"> 
           </div>

            <div class="rp-button">
                <button type="submit" class="save-button">Change Password</button>
            </div>

        </form>

    </div>
</div>



 

