.irp {
    background-color: #80ADA059;
    margin: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 35px 59px;
}

.irp-header {
    text-align: center;
    font-size: 40px;
    padding: 35px;
    padding-top: 0px;
}

.irp-form-item {
    padding-bottom: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;

    label {
        padding-bottom: 10px;
    }

    input {
        height: 37px;
        border-radius: 10px;
        border: none;
        padding: 0px 10px;

        &:focus {
            outline: none;
        }
    }


    &.select-- {
        display: flex;
        flex-direction: row;
    }
}

.irp-form-input {
    width: 60%;

    &.short-- {
        width: 20%;
    }

    &[type="file"]{
        background: white;
    }

    &.file-- {
        background: white;
        border-radius: 10px;
        text-align: center;
        width: 150px;
        font-size: 18px;
        vertical-align: middle;
        padding: 7px 0px;
        cursor: pointer;
    }
}

.irp-form-p {
    font-size: 20px;
    padding-bottom: 5px;
    margin: 0;
}

.irp-f-i-div {
    display: flex;
    flex-direction: column;
    padding-right: 122px;

    select {
        width: 150px;
        height: 37px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
}
