<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="main-dashboard">
            <div class="card">
                <div class="graph">
                    <img src="../assets/icons/test-graph.png" alt="">
                </div>
                <div class="text">
                    <div class="header">Daily Emission</div>
                    <div class="data">5% decrease in today's emissions</div>
                </div>
            </div>
            <div class="card">
                <div class="graph">
                    <img src="../assets/icons/test-barchart.png" alt="">
                </div>
                <div class="text">
                    <div class="header">Gas Emission Breakdown</div>
                    <div class="data">Most emitted greenhouse gas: C02</div>
                </div>
            </div>
            <div class="card">
                <div class="graph">
                    <img src="../assets/icons/test-linechart.png" alt="">
                </div>
                <div class="text">
                    <div class="header">Gas Emission Across Faculty</div>
                    <div class="data"></div>
                </div>
            </div>
        </div>
    </div>
</div>
