.wrapper {
    display: flex;
    background-color: #EEEEEE;
}

.main-dashboard {
    display: flex;
    flex-direction: row;
}

.card {
    background: white;
    border-radius: 6px;
    padding: 36px;
    margin: 9px;
    width: 300px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.graph {
    img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14);
    }
}

.container {
    margin: auto;
    margin-top: 200px;
}

.header {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #3C4858;
}

.data {
    margin-top: 6px;
    color: #3C4858;
}

.text {
    text-align: left;
    padding-left: 26px;
}

.graphpage-button {
    border-radius: 5px;
    background: #01A437;
    padding: 8px;
    font-size: 20px;
    border: none;
    font-family: Readex Pro;
    color: white;
    text-decoration: none;
}

::ng-deep {

    dialog {
        border: none;
        border-radius: 10px;
        padding: 0;
    }

    .addgraph-container {
        max-width: 440px;
    }

    .modal-close {
        position: absolute;
        width: 36px;
        top: 28px;
        left: 10px;
        cursor: pointer;
    }

    .agc-header {
        padding: 10px;
        padding-top: 20px;
        height: 90px;
        background: green;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        text-align: center;
    }
}