<div class="wrapper">
    <app-sidebar></app-sidebar>
    <h1> Generate A New Report</h1>
    <form action="" class="irp-form">
        <div class="irp-form-item">
            <label for="">Name of the Report</label>
            <input type="text">
        </div>
        <div class="irp-form-item">
           <label for="">Choose Time Period</label>
           <select name="" id="">
                <option value="">Yearly</option>
                <option value="">Monthly</option>
           </select>
        </div>
        <div class="irp-form-item">
            <label for="">Choose Scope To Be Included</label>
            <select name="" id="">
                <option value="">Scope 1</option>
                <option value="">Scope 2</option>
                <option value="">Scope 3</option>
           </select>
         </div>
         <div class="irp-form-item">
            <label for="">Choose Emission Data Type To Be Included</label>
            <select name="" id="">
                <option value="">Scope 1</option>
                <option value="">Scope 2</option>
                <option value="">Scope 3</option>
           </select>
        </div>
    </form>
</div>