<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="iot-container">
        <div class="iot-c-title">
            <h1>Registered IoT Sensors</h1>
        </div>
        <div class="iot-button">
            <!-- <a href="/register-iot-sensor">Register A New Sensor</a> -->
            <a (click)="registerModal.showModal()">Register A New Sensor</a>
        </div>
        <div class="iot-c-table">  
            <table class="iotc-table">
                <thead>
                    <th>ID</th>
                    <th>Device Name</th>
                    <th>Device Model</th>
                    <th>Description</th>
                    <th>Building</th>
                </thead>
                <tbody>
                    <tr *ngFor="let iotSensor of iotSensors; let i = index" style="background-color: white;">
                        <td>{{ i + 1 }}</td>
                        <td>{{iotSensor.deviceName}}</td>
                        <td>{{iotSensor.deviceModel}}</td>
                        <td>{{iotSensor.desc}}</td>
                        <td>{{iotSensor.building}}</td>
                        <td (click)="myModal.showModal()"><img (click)="editIot(iotSensor._id)" src="../assets/icons/edit-button.svg" alt="" class="edit"></td>
                        <td (click)="deleteModal.showModal()"><img (click)="editIot(iotSensor._id)" src="../assets/icons/trash.png" alt="" class="edit"></td>
                    </tr>
                    <!-- <tr *ngFor="let t of temp;"style="background-color: white;">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                         <td (click)="myModal.showModal()"><img (click)="editIot(iotSensor._id)" src="../assets/icons/edit-button.svg" alt="" class="edit"></td>
                        <td (click)="deleteModal.showModal()"><img (click)="editIot(iotSensor._id)" src="../assets/icons/trash.png" alt="" class="edit"></td> -->
                    <!-- </tr>  -->
                </tbody>
            </table>
            <!-- <button (click)="submitData(this.formValue)">TEst api</button> -->
        </div>
        <dialog #myModal>
            <img (click)="myModal.close()" src="../assets/icons/close.png" alt="" class="modal-close">
            <div class="rp-container">
                <div class="rp">
                <h1 class="rp-header">Edit IoT Sensor</h1>
                <form class="irp-form" [formGroup]="editForm" (ngSubmit)="submitData(editForm.value)">
                    <div class="irp-form-item">
                        <label for="deviceName">Device Name</label>
                        <input class="irp-form-input short--" type="text" formControlName="deviceName" id="deviceName">
                    </div>
                    <div class="irp-form-item">
                        <label for="deviceModel">Device Model</label>
                        <input class="irp-form-input" type="text" formControlName="deviceModel" id="deviceModel">
                    </div>
                    <div class="irp-form-item">
                        <label for="desc">Description</label>
                        <input class="irp-form-input" type="text" formControlName="desc" id="desc">
                    </div>
                    <div class="irp-form-item">
                        <label for="building">Building</label>
                        <input class="irp-form-input" type="text" formControlName="building" id="building">
                    </div>
                    <div class="rp-button">
                        <button type="submit">Save</button>
                    </div>
                    <div *ngIf="message" style="text-align: center; padding-top: 10px;">You have sucessfully edited!</div>
                </form>
                </div>
            </div>
        </dialog>
        <dialog #deleteModal clas="deleteDialog">
            <div class="confirmationMsg">Are you sure you want to delete this sensor?</div>
            <div class="deleteButtons">
                <button (click)="deleteIotSensor()">Yes</button>
                <button (click)="deleteModal.close()">No</button>
            </div>
        </dialog>
        <dialog #registerModal>
            <div class="rp-container">
                <img (click)="registerModal.close()" src="../assets/icons/close.png" alt="" class="modal-close">
                <div class="rp">
                <h1 class="rp-header">Register IoT Sensor</h1>
                <form class="irp-form" [formGroup]="regForm" (ngSubmit)="submitRegData(regForm.value)">
                    <div class="irp-form-item">
                        <label for="deviceName">Device Name</label>
                        <input class="irp-form-input short--" type="text" formControlName="deviceName" id="deviceName">
                    </div>
                    <div class="irp-form-item">
                        <label for="deviceModel">Device Model</label>
                        <input class="irp-form-input" type="text" formControlName="deviceModel" id="deviceModel">
                    </div>
                    <div class="irp-form-item">
                        <label for="desc">Description of functionality</label>
                        <input class="irp-form-input" type="text" formControlName="desc" id="desc">
                    </div>

                    <div class="irp-form-item">
                        <label for="building">Building</label>
                        <input class="irp-form-input" type="text" formControlName="building" id="building">
                    </div>
                    <div class="irp-form-item">
                        <label for="building">Room</label>
                        <input class="irp-form-input" type="text" formControlName="room" id="room">
                    </div>
                    <div class="irp-form-item">
                        <label for="">Location Description </label>
                        <input class="irp-form-input" type="text" formControlName="locDesc" id="locDesc">
                    </div>
                    <div class="irp-form-item">
                        <label for="">Image of Device (Optional) </label>
                        <label class="irp-form-input file--" for="image"> Upload Image
                            <input style="display: none" class="irp-form-input" type="file"formControlName="deviceImage" id="image"multiple accept="image/*" >
                        </label>
                    </div>
                    <div class="rp-button">
                        <button type="submit">Save</button>
                    </div>
                </form>
                </div>
            </div>
        </dialog>
    </div>

 

