<div class="container">
    <div class="landing">
        <div class="landing-icon"><img src="../../assets/icons/leaf-icon.png" alt=""></div>
        <h1 class="landing-header">Greenhouse Gas Dashboard</h1>
        <span class="landing-span">A website to track your organisation's greenhouse gas emissions</span>
        <div class="landing-cta">
            <div class="landing-a"><a href="/login">Log In</a></div>
            <div class="landing-a"><a href="/register">Register</a></div>
        </div>
    </div>
    <div class="landingimg">
    </div>
</div>

