<div [ngClass]="{ 'show': isChildActive }" class="wrapper">
    <div class="logo">
            <div class="logo-img">
                <p class="simple-text">Apply Filters</p>
                <img (click)="toggleChildClass()" src="../assets/icons/black-close.png" alt="" class="modal-close">
            </div>
    </div>
    <div class="sidebar-wrapper">
        <!-- <ul class="nav">
           <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                 <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul> -->
        <p class="simple-text">Filter By: </p>
        <div class="nav">

            <div class="nav-item">
                <a class="nav-link">
                    <p>Scope</p>
                </a>
            </div>

            <form [formGroup]="filterForm" (ngSubmit)="submitFilterForm(filterForm.value)">
                <div class="filter-innerbox">
                    <div>
                        <input type="checkbox" id="Scope 1" (change)="onCheckboxChange($event, 1)" formArrayName="scope">
                        <label for="Scope 1">Scope 1</label>
                    </div>
                    <div>
                        <input type="checkbox" id="Scope 2" (change)="onCheckboxChange($event, 2)" formArrayName="scope">
                        <label for="Scope 2">Scope 2</label>
                    </div>
                    <div>
                        <input type="checkbox" id="Scope 3" (change)="onCheckboxChange($event, 3)" formArrayName="scope">
                        <label for="Scope 3">Scope 3</label>
                    </div>
                </div>
                <button class="filter-button">Apply Filter(s)</button>
            </form>

        

            <!-- <div class="nav-item">
                <a class="nav-link">
                    <p>Activity Data Type</p>
                </a>
            </div>
            <div class="filter-innerbox">
                <form [formGroup]="filterForm" (ngSubmit)="submitFilterForm(filterForm.value)">
                    <div (click)="applyEmissionTypesFilter('Fuel Combustion')">
                        <input type="checkbox" id="Fuel Combustion">
                        <label for="Fuel Combustion">Fuel Combustion</label>
                    </div>
                    <div (click)="applyEmissionTypesFilter('Other Emissions')">
                        <input type="checkbox" id="Other Emissions">
                        <label for="Other Emissions">Other Emissions</label>
                    </div>
                    <div (click)="applyEmissionTypesFilter('Electricity Consumption')">
                        <input type="checkbox" id="Electricity Consumption">
                        <label for="Electricity Consumption">Electricity Consumption</label>
                    </div>
                    <div (click)="applyEmissionTypesFilter('Water Usage')">
                        <input type="checkbox" id="Water Usage">
                        <label for="Water Usage">Water Usage</label>
                    </div>
                    <button class="filter-button">Apply Filter(s)</button>
                </form>
            </div> -->

        </div>
    </div>
</div>