<div class="rp-container">
    <div class="rp">
    <h1 class="rp-header">Register An Account</h1>
    <form class="irp-form" [formGroup]="regForm" (ngSubmit)="submitRegistrationData(regForm.value)">
        <div class="irp-form-item">
            <label for="username">Username</label>
            <input class="irp-form-input short--" type="text" formControlName="username" id="username">
        </div>
        <div class="irp-form-item"> 
            <label for="email">Email</label>
            <input class="irp-form-input"type="text" formControlName="email" id="email">
            <div class="rp-form-error" *ngIf="regForm.get('email')?.errors?.['email'] && regForm.get('email')?.touched">
                Please enter a valid email address.
            </div>
        </div>
        <div class="irp-form-item">
            <label for="password">Password</label>
            <input class="irp-form-input" type="password" formControlName="password" id="password">
        </div>
        <div class="rp-button">
            <button type="submit">Register</button>
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    </div>
</div>