<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="iot-container">
        <div class="iot-c-title">
            <h1>Greenhouse Gas Emissions Inventory</h1>
        </div>
        <div class="iot-button">
            <button (click)="sortAscEmissionData()" class="sort">Sort Ascending</button>
            <button (click)="sortDescEmissionData()" class="sort">Sort Descending</button>
            <a style="cursor: pointer" (click)="myModal.showModal()">Add New Data</a>
        </div>
        <div class="iot-c-table">  
            <table class="iotc-table">
                <thead>
                    <th>Timestamp</th>
                    <th>Scope of Greenhouse Gas Emission</th>
                    <th>Activity Data Type</th>
                    <th>Activity Data Description</th>
                    <th>Activity Data Value</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of emissionData; let i = index" style="background-color: white;">
                        <td>{{data.createdAt}}</td>
                        <td>{{data.scope}}</td>
                        <td>{{data.dataType}}</td>
                        <td>{{data.dataDesc}}</td>
                        <td>{{data.dataValue}}</td>
                        <td (click)="editModal.showModal()"><img (click)="editEmissionData(data._id)" src="../assets/icons/edit-button.svg" alt="" class="edit"></td>
                        <td (click)="deleteModal.showModal()"><img (click)="editEmissionData(data._id)" src="../assets/icons/trash.png" alt="" class="edit"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <dialog #myModal>
            <img (click)="myModal.close()" src="../assets/icons/close.png" alt="" class="modal-close">
            <div class="rp-container">
                <div class="rp">
                <h1 class="rp-header">Add Gas Emission Data</h1>
                <form class="irp-form" [formGroup]="addForm" >
                    <div class="irp-form-item">
                        <label for="emissionScope">Scope of Greenhouse Gas Emission</label>
                        <!-- <input class="irp-form-input" type="text" formControlName="emissionScope" id="emissionScope"> -->
                        <br>
                        <select class="em-select" name="scope" id="" formControlName="scope" (change)="selectScope($event)">
                            <ng-container *ngFor = "let data of scopeList">
                                <option value={{data.name}}>{{data.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                        <div class="irp-form-item">
                            <label for="activityDataType">Activity Data Type</label>
                            <br>
                            <select class="em-select" name="dataType" id="" formControlName="dataType" (change)="selectDataType($event)">
                                <!-- <optgroup label="Scope 1">
                                    <option class="em-option" value="Fuel Combustion">Fuel Combustion</option>
                                    <option class="em-option" value="Other emissions">Other emissions</option>
                                </optgroup>
                                <optgroup label="Scope 2">
                                    <option class="em-option" value="Electricity Consumption">Electricity Consumption</option>
                                </optgroup>
                                <optgroup label="Scope 3">
                                    <option class="em-option" value="Water Usage">Water Usage</option>
                                    <option class="em-option" value="Waste Management">Waste Management</option>
                                </optgroup> -->
                                <ng-container *ngFor = "let data of selectedDataTypeList">
                                    <option value={{data.name}}>{{data.name}}</option>
                                </ng-container>
                            </select>
                        </div>

                        <div class="irp-form-item">
                            <label for="activityDataType">Activity Data Description</label>
                            <br>
                            <select class="em-select" name="dataDesc" id="" formControlName="dataDesc">
                                <!-- <optgroup label="Fuel Combustion">
                                    <option class="em-option" value="Volume of petrol consumed by fleet">Volume of petrol consumed by fleet</option>
                                    <option class="em-option" value="Volume of diesel consumed by fleet">Volume of diesel consumed by fleet</option>
                                    <option class="em-option" value="Volume of diesel consumed by machinery/facilities">Volume of diesel consumed by machinery/facilities</option>
                                </optgroup>
                                <optgroup label="Other emissions">
                                    <option class="em-option" value="Volume of CO2 consumed by refrigerant">Volume of CO2 consumed by refrigerant</option>
                                    <option class="em-option" value="Num of refrigerant used for facilities">Num of refrigerant used for facilities</option>
                                </optgroup>
                                <optgroup label="Electricity Consumption">
                                    <option class="em-option" value="Amount of electricity purchased">Amount of electricity purchased</option>
                                </optgroup>
                                <optgroup label="Water Usage">
                                    <option class="em-option" value="Amount of water usage">Amount of water usage</option>
                                </optgroup>
                                <optgroup label="Waste management">
                                    <option class="em-option" value="Amount of waste production based on category">Amount of waste production based on category</option>
                                </optgroup> -->
                                <ng-container *ngFor = "let data of selectedDataDescList">
                                    <option value={{data.name}}>{{data.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    
                    <div class="irp-form-item">
                        <label for="activityDataType">Activity Data Value</label>
                        <br>
                        <input type="text" formControlName="dataValue">
                        <span style="margin-left:-45px;" *ngIf="this.addForm.controls['dataDesc'].value === 'Volume of petrol consumed by fleet' || 
                        this.addForm.controls['dataDesc'].value === 'Volume of diesel consumed by fleet' || 
                        this.addForm.controls['dataDesc'].value === 'Volume of diesel consumed by machinery/facilities'">litres</span>
                        <span style="margin-left:-45px;" *ngIf="this.addForm.controls['dataDesc'].value === 'Amount of electricity purchased'">kWh</span>
                        <span style="margin-left:-45px;" *ngIf="this.addForm.controls['dataDesc'].value === 'Amount of water usage'">m3</span>
                        <span style="margin-left:-45px;" *ngIf="this.addForm.controls['dataDesc'].value === 'Amount of waste production based on category'">kg</span>
                    </div>
                    <!-- <div class="irp-form-item">
                        <label for="emissionFactor">Emission Factor</label>
                        <br>
                        <input class="irp-form-input" type="text" formControlName="emissionFactor" id="emissionFactor">
                    </div> -->
                    <div class="rp-button">
                        <button type="submit" (click)="emSubmit(addForm.value)">Save</button>
                    </div>
                    <div *ngIf="message" style="text-align: center; padding-top: 10px;">You have sucessfully added!</div>
                </form>
                </div>
            </div>
        </dialog>
        <dialog #editModal>
            <img (click)="editModal.close()" src="../assets/icons/close.png" alt="" class="modal-close">
            <div class="rp-container">
                <div class="rp">
                <h1 class="rp-header">Edit Emission Data</h1>
                <form class="irp-form" [formGroup]="editForm" (ngSubmit)="editData(editForm.value)">
                    <div class="irp-form-item">
                        <label for="deviceName">Scope of Greenhouse Gas Emission</label>
                        <input class="irp-form-input short--" type="text" formControlName="scope" id="scope">
                    </div>
                    <div class="irp-form-item">
                        <label for="deviceModel">Activity Data Type</label>
                        <input class="irp-form-input" type="text" formControlName="dataType" id="dataType">
                    </div>
                    <div class="irp-form-item">
                        <label for="desc">Activity Data Description</label>
                        <input class="irp-form-input" type="text" formControlName="dataDesc" id="dataDesc">
                    </div>
                    <div class="irp-form-item">
                        <label for="building">Activity Data Value</label>
                        <input class="irp-form-input" type="text" formControlName="dataValue" id="dataValue">
                    </div>
                    <div class="rp-button">
                        <button type="submit">Save</button>
                    </div>
                    <div *ngIf="message" style="text-align: center; padding-top: 10px;">You have sucessfully edited!</div>
                </form>
                </div>
            </div>
        </dialog>     
        <dialog #deleteModal clas="deleteDialog">
            <div class="confirmationMsg">Are you sure you want to delete this data?</div>
            <div class="deleteButtons">
                <button (click)="deleteEmissionData()">Yes</button>
                <button (click)="deleteModal.close()">No</button>
            </div>
        </dialog>   
    </div>

 

