.wrapper {
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}

.admin-container {
    width: 100%;
}

.admin-title h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-top: 45px;
}

.admin-table {
    display: block;
    position: relative;
    background: white;
    padding: 5px 20px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    text-align: left;
    margin-bottom: 15px;
    margin-right: 15px;
    max-height: 82vh;
    overflow: auto;

    thead th {
        border-bottom: 2px solid rgba(0,0,0,.06);
        border-bottom-width: 1px;
    }

    td, th {
        padding: 0.75rem;
        color: #3C4858;
    }

    &.width-- {
        padding-top: 50px;
    }

    .admin-table table tbody tr {
        background-color: white;
    }

    .admin-div {
        height: 90vh;
        overflow: auto;
    }
}

:host ::ng-deep {

    dialog {
        border: none;
        padding: 45px;
    }
    
    * {
        box-sizing: border-box;
        font-family: Readex Pro;
    }

    body{
    background: #1abc9c;
    overflow: hidden;
    }

    ::selection{
    background: rgba(26,188,156,0.3);
    }

    .modal-close {
        position: absolute;
        width: 36px;
        top: 28px;
        left: 10px;
        cursor: pointer;
    }

    dialog.deleteDialog {
        padding: 5px;
    }

    .confirmationMsg {
        margin-top: 15px;
    }

}